.btn {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.match-details {
    background-color: #f8f9fa;
    border-top: 1px solid #ddd;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
}
.innings-details {
    margin-top: 5px;
    padding: 8px;
    background-color: #e9ecef;
    border-radius: 5px;
}
.bg{
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20231017/pngtree-icc-cricket-world-match-background-image_13943187.jpg");
    padding-top: 7rem !important;
    padding-bottom: 7rem !important;
}
.py-3 {
    padding-top: 7rem !important;
    padding-bottom: 7rem !important;
}